{% extends 'base.html' %}
{% load cms_tags static thumbnail %}

{% block title %}{% if article.meta_title %}{{ article.meta_title }}{% else %}{{ article.title }}{% endif %}{% endblock %}
{% block meta_description %}
    <meta name="description" content="{% if article.meta_description %}{{ article.meta_description }}{% else %}News Article{% endif %}">
{% endblock meta_description %}

{% block body %}
    <div>
        <a href="{% url 'news:index' %}" title="Back to news">Back to news</a>
        <h1>{{ article.title }}</h1>
    </div>
    {% render_placeholder article.content %}
{% endblock body %}
