{% extends 'base.html' %}
{% load cms_tags static %}

{% block hero %}{% endblock hero %}

{% block body %}
    <section class="page-title">
        <div class="wrapper">
            <div class="page-title__container">
                <h1>Latest news</h1>
            </div>
        </div>
    </section>
    <form action="{{ request.url }}" method="get">
        <div class="tags">
            <ul>
                {% for value, label in form.tags.field.choices %}
                    <li>
                        <label for="{{ form.tags.name }}">
                            <input type="checkbox" name="{{ form.tags.name }}" value="{{ value }}"{% if value|slugify in form.tags.data %} checked{% endif %}/>
                            <span>{{ label }}</span>
                         </label>
                    </li>
                 {% endfor %}
                <button class="btn" type="submit">Filter</button>

            </ul>
        </div>
    </form>
    <section class="text-image-block">
        <div class="wrapper">
            {% for article in article_index %}
                <a href="{{ article.get_absolute_url }}" title="{{ article.title }}" class="text-image-block__item">
                    <div class="text-image-block__text col">
                        <div class="upper">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.intro }}</p>
                        </div>
                        <div class="lower">
                            <p>
                                <strong>Posted by {{ article.author|title }}</strong><br />
                                {{ article.publish_at|date:"d F Y" }}
                            </p>
                            <p>Reading time <span>{{ article.read_time }} {% if article.read_time == 1 %}minute{% else %}minutes{% endif %}</span></p>
                        </div>
                    </div>
                </a>
            {% empty %}
                <h3>No articles currently listed</h3>
            {% endfor %}
        </div>

    </section>
{% endblock body %}
